html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
   
    
}


.banner {
    width: 100%;
    height: 15lvh;
    background-image: url("../img/banner/banner.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: calc(-1 * env(safe-area-inset-top));
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100lvh;  
    z-index: -1;    
    
    background-image: url('../img/background/Weinachtskrimi.webp');
    background-size: auto 100%;
    background-position: center;

    background-repeat: no-repeat;
}

.titel {
    padding: 10px;
    justify-content: center;
    text-align: center;
    background-color: #0b1b63;
}

.titel h2 {
 
    margin: 0;
    color: white;
    /*-webkit-text-stroke: 0.4px yellow;*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 28px;
}

.inhalt{
    margin: 30px 0px;
    padding: 0px 30px;
    overflow: hidden;
    height: 100%;
}

.hintergrundAktivesFenster {
    display: none; 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    
}

.fensterInhalt {
    background-color: #8B181D;
    width: 70vw;
    padding: 20px;
    position: relative;
    border: 1px solid #000;
    font-size: 20px;
    border-radius: 15px;
    font-style: italic;
    color: #FAF7F2;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.8;
    overflow-y: auto;
     max-height: 80vh;
}

.fensterInhalt li{
    font-size: 18px;
}

.schliessen {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 32px;
}
.adventskalender{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;

    justify-content: space-between; /*Alle Türen zentrieren*/
    gap: 18px;               /*Abstände zwischen den Türen*/
    
    max-width: 900px;
    margin: 0 auto;
}

.tuerchen{
    width: 90px;
    height: 150px;  
    font-size: 2em;
    border-radius: 10px;
    font-weight: bold;
    perspective: 600px;
    justify-content: center;
    align-items: center;
}

.tuer-inner {
    width: 100%;
    height: 100%;
    background-color: #8B181D;
    transform-origin: left center;
    transform: rotateY(0deg);  
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E6BE9A;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 1.2 em;
}

.tuerchen.closed{
    background-color: #8B181D;
}
.tuerchen.opened{
    background-color: #d7d7d7;
}

.tuerchen.closed .tuer-inner {
    transform: rotateY(0deg);  
}

.tuerchen.opened .tuer-inner {
    transform: rotateY(-50deg); /*Tür öffnen*/

}

.reset{
    display: block;
    margin-left: auto;


    margin-top: 50px;
    margin-right: 0;
    font-size: 20px;
    width: fit-content;
    padding: 10px;

}




                                /*Reihenfolge der Türen*/
#tuer_1 { order: 17; }
#tuer_2 { order: 5; }
#tuer_3 { order: 22; }
#tuer_4 { order: 8; }
#tuer_5 { order: 14; }
#tuer_6 { order: 2; }
#tuer_7 { order: 20; }
#tuer_8 { order: 12; }
#tuer_9 { order: 24; }
#tuer_10 { order: 1; }
#tuer_11 { order: 18; }
#tuer_12 { order: 6; }
#tuer_13 { order: 11; }
#tuer_14 { order: 4; }
#tuer_15 { order: 21; }
#tuer_16 { order: 3; }
#tuer_17 { order: 15; }
#tuer_18 { order: 9; }
#tuer_19 { order: 19; }
#tuer_20 { order: 7; }
#tuer_21 { order: 23; }
#tuer_22 { order: 16; }
#tuer_23 { order: 13; }
#tuer_24 { order: 10; }




